.container {
  padding: 10px;
  margin-left: 10px;
}
.btn {
  margin-right: 20px;
  background-color: azure;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  transition: background-color, cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
  background-color: rgb(190, 216, 216);
}
